* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(233, 232, 232);
}

.header {
  background-color: rgb(62, 163, 221);
  color: white;
  padding: 10px;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
}

.label {
  display: block;
  font-weight: 700;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 10px 0;
}

.content {
  background-color: white;
  padding: 15px;
  border: 1px solid lightgray;
  box-shadow: 5px 0 8px #888888;
  margin-top: 10px;
}

.wrapper .location,
.wrapper .date {
  text-align: right;
}

.list p {
  margin: 0;
}

.list .title {
  text-decoration: none;
  font-weight: 700;
  color: rgb(62, 163, 221);
}

.list .desc,
.list .location {
  color: gray;
  font-weight: 700;
}

.list .desc span {
  color: green
}

.list .desc {
  font-size: 14px;
}

.list .date {
  color: gray;
  font-size: 14px;
}

.container {
  padding: 10px;
}

.content .body-content {
  display: flex;
  justify-content: space-between;
}

.content .body-content .side-left {
  width: 70%;
}

.content .header-content {
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.content .body-content .side-left li {
  margin-left: 20px;
}

.content .body-content .side-left p {
  margin-top: 20px;
}

.content .body-content .side-right {
  width: 30%;
  padding-left: 15px;
}

.content .body-content .side-right .card .card-header {
  display: flex;
  justify-content: space-between;
}

.content .body-content .side-right .card .card-header .other-job {
  background-color: aliceblue;
  padding: 5px;
  border-radius: 8px;
  font-weight: 700;
  color: rgb(62, 163, 221);
}

.content .card,
.content .card--yellow {
  border: 1px solid lightgray;
  box-shadow: 5px 0 8px #888888;
}

.content .card--yellow {
  margin-top: 20px;
  background-color: lightgoldenrodyellow;
}

.content .card .card-header,
.content .card--yellow .card-header {
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.content .card .card-body,
.content .card--yellow .card-body
{
  padding: 10px;
}

.content .card .card-footer {
  padding: 10px;
}

.content .card .card-header h3,
.content .card--yellow .card-header h3 {
  margin: 0;
}

.btn-more-job {
  display: block;
  width: 100%;
  background-color: rgb(62, 163, 221);
  border: none;
  padding: 5px;
  color: white;
  font-weight: 700;
  margin-top: 20px;
  cursor: pointer;
}

.btn-back {
  text-decoration: none;
  color: rgb(62, 163, 221);
  font-weight: 700;
  font-size: 20px;
}

.btn-search {
  padding: 10px;
  background-color: rgb(62, 163, 221);
  border: none;
  border-radius: 8px;
  color: white;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-login {
  width: 300px;
  border-radius: 25px;
  height: 100px;
  box-shadow: 5px 0 8px #888888;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-search {
  padding: 10px;
  border: none;
  width: 250px;
  margin-top: 5px;
}

.wrapper-checkbox {
  display: flex;
  align-items: center;
}

.wrapper-checkbox input {
  margin-right: 10px;
}
